.Home {
  display: block;
  margin: 1rem 0;

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin: 0.5rem 0;

    pre {
      padding: 1rem;
      background-color: #bfe7fc;
    }
  }
}
