$primaryColor: #B872DA;
$primaryColorDark: #8e39b8;
$secondaryColor: #4DDAD7;
$textColorGrey: #5F6D7E;
$textColor: #141414;
$textColorSmall: #6D6D6D;
$borderRadius: 8px;
$gray200: #E5E5E5;
$gray50: #F3F3F3;
$boxPadding: 8px;
$errorColor: #ff0000;
$warningColor: #ffa500;
$infoColor: #0000ff;
$successColor: #008000;
$backgroundColor: #ffffff;
$grayColor: #cccccc;


// breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1300px;
