node_modules
frontend/build
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
modules/**/dist
modules/**/lib
modules/**/.yarn/*
!modules/**/.yarn/patches
!modules/**/.yarn/plugins
!modules/**/.yarn/releases
!modules/**/.yarn/sdks
!modules/**/.yarn/versions