node_modules
build
web/assets
data/uploads
data/metadata
data/sessions
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
packages/**/dist
packages/**/lib
packages/**/.yarn/*
!packages/**/.yarn/patches
!packages/**/.yarn/plugins
!packages/**/.yarn/releases
!packages/**/.yarn/sdks
!packages/**/.yarn/versions
.idea
android/app/build
ios/App/App/public