.App {
  display: block;
  color: #141414;
  margin-top: 1.5rem;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
h1 {
  font-size: 2rem;
  font-weight: 100;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
